.Form {
  border: none;
  border-bottom: 2px #ff0000 solid;
}

.Button {
  border: none;
  background-color: #ff0000;
  color: #fff;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
  text-transform: uppercase;
}

.Button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #ff0000;
}
