.App {
    font-family: "Play", sans-serif;
    background-color: #E4E4E4;
    min-height: 100vh;
    color: #fff
}

.Main {
    padding-top: 84px;
}

.Content {
    background-color: #808C8C;
    padding: 10px;
    border-radius: 2px;
}

.Button {
    color: #FFF;
    background-color:#FF0000;
    border: 1px solid #FF0000;
    text-transform: uppercase;
    align-self: center;
    margin-bottom: 10px;
}

.Button:hover {
    background-color: #FF0000;
    border: 1px solid #FFF;
    cursor: pointer;
}

.Button:active {
    background-color: #FF0000 !important;
}

.Button:hover:active {
    background-color: #FF0000 !important;
}

.Button:focus {
    background-color: #FF0000;
    box-shadow: none;
    border: none;
}

.Alert {
    background-color: #e4e4e4 !important;
    text-align: center;
    color: #FF0000;
    max-height: 50px;
}